<h1>My Documents</h1>

<div class="container">
  <mat-list>
    <mat-list-item *ngFor="let document of documents">
      <span matListItemTitle>{{ document.title }}</span>
      <span matListItemLine>{{ document.file_type }} - Uploaded: {{ document.uploaded_at | date }}</span>
      <button mat-icon-button color="warn" (click)="deleteDocument(document.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <p *ngIf="documents.length === 0">No documents available. Add a new document below!</p>
</div>

<div class="buttons">
  <button (click)="goToAddDocument()">Add Document</button>
</div>