<h1>Add a new document</h1>

<mat-card>
  <mat-card-content>
    <form (ngSubmit)="uploadDocument()">
      <mat-label for="title">Title of Document</mat-label>
      <mat-form-field>
        <input matInput [(ngModel)]="title" name="title" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select File</mat-label>
        <input type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" required>
      </mat-form-field>

      <div class="button-container">
        <button type="submit">Save</button>
        <button (click)="goBack()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>